*{
  background: rgb(235,235,235);
  background: linear-gradient(0deg, rgba(235,235,235,1) 41%, rgba(45,252,253,0.025647759103641476) 100%);
}



body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    padding-bottom: 100px;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  
  
  .container{
    background-color: lightblue;
    text-align: center;
    
  }


  /* Styling the text-input area */
  #inputOne{
    width: 600px;
    line-height: 60px;
    border-radius: 15px;
    
  }

  #inputTwo{
    width: 600px;
    line-height: 60px;
    border-radius: 15px;
  }

  #inputThree{
    width: 600px;
    line-height: 60px;
    border-radius: 15px;
  }
  #inputFour{
    width: 600px;
    line-height: 60px;
    border-radius: 15px;
  }
  #inputFive{
    width: 600px;
    line-height: 60px;
    border-radius: 15px;
  }
  #inputSix{
    width: 600px;
    line-height: 60px;
    border-radius: 15px;
  }
  #inputSeven{
    width: 600px;
    line-height: 60px;
    border-radius: 15px;
  }
  #inputEight{
    width: 600px;
    line-height: 60px;
    border-radius: 15px;
  }
  #inputNine{
    width: 600px;
    line-height: 60px;
    border-radius: 15px;
  }
  
  button{
    font-size: 25px;
    border-radius: 25px;
    color: #d40b00;
  }







  /* Media Queries Starts  */


   /* Laptop Screens */
   @media screen and (min-width: 1040px) {

    #timeSlot1 {
      padding-left: 100px;
    }


#timeSlot2 {
   padding-left: 100px;
    }

#timeSlot3 {
  padding-left: 100px;
}

#timeSlot4 {
  padding-left: 100px;
}

#timeSlot5 {
  padding-left: 100px;
}

#timeSlot6 {
  padding-left: 100px;
}

#timeSlot7 {
  padding-left: 100px;
}

#timeSlot8 {
  padding-left: 100px;
}


#timeSlot9 {
  padding-left: 100px;
}



  }




  @media screen and (max-width: 992px) {
    
    /* Styling for Save Button */
    #btnInput{
      width:600px
    }

    /* Styling the  Time indicator on top left of screen  */
  #timeSlot1 {
  padding-top: 25px;
  padding-left: 250px;
  font-size: 25px;
}

#timeSlot2 {
   padding-left: 100px;
    }

#timeSlot3 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

#timeSlot4 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

#timeSlot5 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

#timeSlot6 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

#timeSlot7 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

#timeSlot8 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}
#timeSlot9 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

.row{
  height: 170px;

}

  }




  /* Tablets  */
  @media screen and (max-width: 766px) {    /* If the Width of the screen is SMALLER than 980px  */
    
      
    /* Styling for Save Button */
    #btnInput{
      width:800px
    }

    /* Styling the  Time indicator on top left of screen  */
  #timeSlot1 {
  padding-top: 25px;
  padding-left: 250px;
  font-size: 25px;
}

#timeSlot2 {
   padding-left: 100px;
    }

#timeSlot3 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

#timeSlot4 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

#timeSlot5 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

#timeSlot6 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

#timeSlot7 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

#timeSlot8 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}
#timeSlot9 {
  padding-top: 15px;
   padding-left: 250px;
  font-size: 25px;
}

.row{
  height: 170px;

}

  }

 



/* moblie screens  */
   @media screen and (max-width: 480px) {
      
    /* Styling for Save Button */
      #btnInput{
        width:500px
      }

      /* Styling the  Time indicator on top left of screen  */
    #timeSlot1 {
    padding-top: 25px;
    padding-left: 200px;
    font-size: 25px;
  }

  #timeSlot2 {
    padding-top: 15px;
    padding-left: 207
    px;
    font-size: 25px;
  }


  #timeSlot3 {
    padding-top: 15px;
     padding-left: 200px;
    font-size: 25px;
  }

  #timeSlot4 {
    padding-top: 15px;
     padding-left: 200px;
    font-size: 25px;
  }

  #timeSlot5 {
    padding-top: 15px;
     padding-left: 200px;
    font-size: 25px;
  }

  #timeSlot6 {
    padding-top: 15px;
     padding-left: 200px;
    font-size: 25px;
  }

  #timeSlot7 {
    padding-top: 15px;
     padding-left: 200px;
    font-size: 25px;
  }

  #timeSlot8 {
    padding-top: 15px;
     padding-left: 200px;
    font-size: 25px;
  }
  #timeSlot9 {
    padding-top: 15px;
     padding-left: 200px;
    font-size: 25px;
  }

  .row{
    height: 170px;

  }

     }     
      /* End Styling the  Time indicator on top left of screen  */